body {
background-image: url(https://i.ytimg.com/vi/GIuZ1Splx78/maxresdefault.jpg);
}

.container {
  background-color: white;
  min-height: 100vh;
  opacity: .95;
}

.icon {
  vertical-align: left;
  max-height: 20px;
  max-width: auto;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}
