<!DOCTYPE html>
<html>
  <head>
    <title>stylist/client tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container">
      <div class="icon">
        <img src="images/guile.jpeg" alt="guile">
      </div>
      <div class="header">
        <h1>Styles by Guile</h1>
      </div>

      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
