<!--stylist.vtl-->
<h1>$stylist.getName()</h1>
<h3>Stylist number: $stylist.getPhoneNumber()</h3>


<p>Clients - click name to see all client information.</p>

<ul>
  #foreach ($client in $stylist.getClients())
  <li><a href="/stylists/$stylist.getId()/clients/$client.getId()">$client.getName()</a></li>
  #end
</ul>
<a href="/stylists">Back to all stylists</a><br>
<!--stylist.vtl-->
